* {
  user-select: none;
}



.app {
  /* --bg: #eee; */
  /* --background: #eee; */
  /* --bg6: #eee6; */
  /* --bd-color: rgb(255, 255, 255); */
  background: hsl(var(--background));
  perspective: 600px;
}

.dark .app {
  background: hsl(var(--background));
}

.app * {
  transform-style: preserve-3d;
}


.app>button {
  background: hsl(var(--background));
  transition: transform 0.15s;
  box-shadow: 2px 2px 3px #28282844,
    -3px -3px 3px #ffffff;
}

.dark .app>button {
  transition: transform 0.15s;
  box-shadow: 2px 2px 6px #00000099,
    -2px -2px 7px #444444;
}

.app>button:hover {
  /* transform: translate3d(0, -0.2rem, 0); */
}

.app>button:active {
  transform: scale(0.9);
}

.glass {
  backdrop-filter: blur(0);
  transition: all 0.2s;
  pointer-events: none;
}

.glass.on {
  backdrop-filter: blur(3px);
  background: hsla(var(--background), 0.4);
  pointer-events: all;
}


div:has(> .glass) {
  transform: scale(1);
  transition: all 0.3s;
}

div:has(> .glass.on) {
  transform: scale(0.98);
}



/* 
.card[data-state='1'] {
  --bd-color: var(--team-1-color);
  background-color: var(--team-1-color);
}

.card[data-state='2'] {
  --bd-color: var(--team-2-color);
  background-color: var(--team-2-color);

} */

.card {
  box-sizing: border-box;
  background: #f9f9f9;
}

.dark .card {
  background: rgb(60, 60, 60);

}